.title-container {
  text-align: center;
  padding: 20px;
  background-color: #000000;
}

.title-container h1 {
  font-size: 3em;
  color: #FF1493;
}

.title-container h3 {
  font-size: 1.2em;
  color: #FF69B4;
  margin: 0.5em 0;
}

.title-container h3 a {
  color: inherit;
  text-decoration: none;
}

.title-container h3 a:hover {
  color: #FF1493;
}
