.InputBox {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.InputBox button {
    background: #000;
    color: #33FF49;
    border: 1px solid #33FF49;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.InputBox button:last-child {
    margin-right: 0;
}

.InputBox button:hover {
    background: #33FF49;
    color: #000;
}