/* Art.css */
.masonry-grid {
    display: flex;
    margin-left: -30px; /* some gutter */
    width: auto;
  }
  
  .masonry-grid_column {
    padding-left: 30px; /* some gutter */
    background-clip: padding-box;
  }
  
  .masonry-img {
    /* change div to img */
    width: 100%;
    cursor: pointer;
  }
  