.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #000;
  color: #33FF49;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
  position: relative;
}

